.drawer {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  background-color: white;
}

.colorPicker {
  border: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}